<link rel="stylesheet" href="/dist/homepage.min.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap"
  rel="stylesheet"
/>

<div id="container"></div>

<script type="text/javascript" src="/dist/homepage.min.js"></script>
